.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  margin-bottom: 50px;
}

.wrapper {
  border: 1px solid lightgrey;
  margin: 20px 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.create-project {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid lightgrey;
  align-items:center;
  margin: 0 30px;
}
.left-top{
  display: flex;
  align-items:center;
  gap: 20px;
}
.left-top span{
  font-size: 20px;
  font-weight: bold;
}
.projects-info{
  margin: 0px 30px;
  margin-top: 20px;
}